@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bezier-1: cubic-bezier(1, -0.29, 0.01, 1.42);
  --bezier-2: cubic-bezier(0.36, 0.01, 0.92, -0.64);
}

body {
  background: theme("colors.c-neutral.100");
  color: #172554;
  transition: background 0.3s ease;
}

.body-bg-dark {
  background: #e8ebf6;
}

.fade-in {
  animation: fadeIn 0.4s cubic-bezier(0.5, -0.03, 0.005, 1.185);
}

.fade-in-left {
  animation: fadeInLeft 0.5s cubic-bezier(0.5, -0.03, 0.005, 1.185);
}

.pulse-opacity {
  animation: pulseOpacity 1s infinite;
}

.fade-in-left-pulse {
  animation: fadeInLeft 0.5s cubic-bezier(0.5, -0.03, 0.005, 1.185),
    pulseOpacity 1s infinite;
}

@keyframes fadeIn {
  0% {
    transform: translateY(200px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeInLeft {
  0% {
    transform: translateX(-32px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes pulseOpacity {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

/* {true && (
  <span
    className={`ml-1 h-3 w-3 rounded-full inline-block bg-blue-950 duration-300 ${
      hideCircle ? `scale-0 opacity-0 ${center && "hidden"}` : ""
    }`}
  />
)} */

.typing-text:after {
  transition: all 0.5s;
}

.typing-text:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-left: 10px;
  background: #172554;
}

.typing-text-hide-dot:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  transform: scale(0);
  width: 0px;
  height: 0px;
}

.shadow-inverse {
  -webkit-box-shadow: -1px 1px 53px -14px rgba(9, 41, 93, 0.3);
  -moz-box-shadow: -1px 1px 53px -14px rgba(9, 41, 93, 0.3);
  box-shadow: -1px 1px 53px -14px rgba(9, 41, 93, 0.3);
}

@keyframes pulseScale {
  0%,
  100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}

.animate-pulse-scale {
  animation: pulseScale 1.4s cubic-bezier(1, -0.1, 0, 1.08) infinite;
}

.animation-delay-200 {
  animation-delay: 200ms;
}

.animation-delay-400 {
  animation-delay: 400ms;
}

.border-custom {
  border-style: dashed;
  border-width: 2px;
  border-spacing: 12px;
  background-clip: padding-box;
}

@keyframes slowMove {
  0%,
  100% {
    transform: translate(-50%, -50%) translateX(-5%);
  }
  50% {
    transform: translate(-50%, -50%) translateX(5%);
  }
}

.slow-move {
  animation: slowMove 5s ease-in-out infinite;
}

.slow-move-reverse {
  animation: slowMove 5s ease-in-out infinite reverse;
}
