@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #f3f3f1;
  color: #172554;
}

.fade-in {
  animation: fadeIn 0.4s cubic-bezier(0.5, -0.03, 0.005, 1.185);
}

.fade-in-left {
  animation: fadeInLeft 0.5s cubic-bezier(0.5, -0.03, 0.005, 1.185);
}

.pulse-opacity {
  animation: pulseOpacity 1s infinite;
}

.fade-in-left-pulse {
  animation: fadeInLeft 0.5s cubic-bezier(0.5, -0.03, 0.005, 1.185),
    pulseOpacity 1s infinite;
}

@keyframes fadeIn {
  0% {
    transform: translateY(200px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeInLeft {
  0% {
    transform: translateX(-32px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes pulseOpacity {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

/* {true && (
  <span
    className={`ml-1 h-3 w-3 rounded-full inline-block bg-blue-950 duration-300 ${
      hideCircle ? `scale-0 opacity-0 ${center && "hidden"}` : ""
    }`}
  />
)} */

.typing-text:after {
  transition: all 0.5s;
}

.typing-text:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-left: 10px;
  background: #172554;
}

.typing-text-hide-dot:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  transform: scale(0);
  width: 0px;
  height: 0px;
}
